<p>This is the example of the Custom Action route.</p>
<p>The example shows how to set the <i>outputData</i> property, that can be acessed using the "data" variable, as below:</p>
<p>Name: {{ data.name }}</p>
<p>Version: {{ data.version }}</p>